DB_CONTAINER_NAME = db-container
POSTGRES_DB = pg-db
POSTGRES_USER = pg-bd-usr
POSTGRES_PASSWORD = pg-db-pwd
POSTGRES_PORT = 5432

APP_CONTAINER_NAME = app-container
APP_PORT = 3000

DB_CPU_LIMIT = 2
DB_MEM_LIMIT = 512MB

APP_CPU_LIMIT = 2
APP_MEM_LIMIT = 512MB

NODE_ENV = development

CORS_ORIGINS=http://localhost:3000

BCRYPT_SALT_ROUNDS=10
JWT_SECRET=change_me_min_32_chars_super_secret_jwt_key_12345
JWT_EXPIRES_IN=1d
POSTGRES_HOST=db
API_PREFIX=/api/v1