# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
# Dependency directories
node_modules/

# IDEs y editores
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# MacOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Package
package-lock.json

# Compilación de TypeScript
dist/
build/
out/
*.tsbuildinfo
